*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
    background:#f2f5f9;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    width:420px;
    background:white;
    padding:40px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    color:#2a2a8b;
    font-size:30px;
    margin-bottom:20px;
    font-weight:bold;
}

.subtitle{
    text-align:center;
    color:#000000;
    font-size:14px;
    margin-bottom:30px;
}

label{
    display:block;
    margin-bottom:8px;
    font-size:15px;
    font-weight:bold;
    color:#444;
}

input{
    width:100%;
    padding:16px;
    border:1px solid #ddd;
    border-radius:12px;
    font-size:18px;
    margin-bottom:25px;
    outline:none;
}

input:focus{
    outline:none;
    border-color:#0d6efd;
}

button{
    width:100%;
    padding:15px;
    border:none;
    background:#ff7b00;
    color:white;
    font-size:17px;
    font-weight:bold;
    border-radius:8px;
    cursor:pointer;
    transition:0.3s;

button:hover{
    background:#ec8d64;
}

#rezultati{
    margin-top:25px;
    text-align:center;
    font-size:20px;
    font-weight:bold;
    color:#333;
}
